.header__logo {
  display: none;
}

.header__list {
  display: flex;
  gap: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 20px;
}

.header__button {
  color: white;
  font-size: 14px;
  background-color: transparent;
}

.header__button-sign-up {
  border: 2px solid white;
  border-radius: 20px;
  width: 90px;
  height: 36px;
}

.header__button-login {
  border: none;
}

.header {
  background-image: url(/img/desk-header.png);
  background-position: center;
  width: 100%;
  height: 540px;
  max-width: 320px;
  min-width: 100%;
  display: block;
}
.header__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.header__pretitle {
  font-family: Montserat;
  font-size: 18px;
  font-weight: 700;
  color: white;
  max-width: 167px;
  margin-top: 99px;
}

.header__title {
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 700;
  max-width: 290px;
  max-height: 75px;
  margin-top: 0;
  color: white;
}

.header__subtitle {
  font-weight: 300;
  font-family: Roboto;
  font-size: 18px;
  color: white;
  max-width: 216px;
  margin-top: 0;
}

.header__button-search {
  padding-left: 47px;
  padding-right: 47px;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: #FF4E50;
  border: solid #FF4E50;
  color: white;
  border-radius: 20px;
  max-width: 282px;
}

@media (min-width: 768px) {
  .header__list {
    justify-content: end;
  }
  .header__button-sign-up {
    margin-right: 50px;
  }
  .header__pretitle {
    margin: 0;
    position: relative;
    top: 45px;
    left: 49px;
    font-weight: bold;
    font-family: Montserrat;
  }
  .header__button-search {
    width: 228px;
    height: 42px;
    padding: 0;
  }
  .header__subtitle {
    max-width: none;
  }
  .header__pretitle {
    position: absolute;
  }
  .header__logo {
    display: flex;
    margin-right: 335px;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
  }
  .header__item {
    margin-top: 125px;
  }
}
@media (min-width: 1442px) {
  .header__subtitle {
    margin-top: 53px;
    font-size: 24px;
  }
  .header__button-sign-up {
    margin: 0;
  }
  .header__pretitle {
    position: absolute;
    right: 1055px;
    bottom: 713px;
  }
  .header__title {
    font-size: 52px;
    max-width: 508px;
  }
  .container {
    max-width: 1447px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .header__list {
    margin-right: 232px;
  }
  .header__pretitle {
    margin-left: 249px;
  }
}
.partners__title {
  font-family: Montserrat;
  font-weight: 700;
  color: #333333;
  font-size: 22px;
  max-width: 280px;
}

.partners {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.partners__list {
  padding-left: 0;
}

.partners__name {
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
  font-weight: 700;
}

.partners__text {
  max-width: 224px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
}

.partners__text-lucas {
  max-width: 247px;
}

.partners__button {
  width: 280px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #FF4E50;
  color: #FF4E50;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .partners__title {
    max-width: none;
  }
  .partners__list {
    display: flex;
    gap: 53px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}/*# sourceMappingURL=style.css.map */